@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset de estilos */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Estilos generales */

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #0a0a0a;
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(179, 61, 156, 0.9473039215686274) 100%);
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(179, 61, 156, 0.9473039215686274) 100%);
}

header {

	padding:2rem;
	margin-right:-30px;
	margin-left:5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: url(imagenes/icons8-pets-64.png);
	background-position:10px ;
	background-repeat: no-repeat;
	background-color: rgb(222, 132, 171);

}

h1 {
	font-size: 2rem;
	padding-left: 50px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul {
	display: flex;
	list-style: none;

}

nav ul li {
	margin-right: 1rem;

}

nav ul li a {
	color: #333;
	text-decoration: none;
	padding: 0.5rem;
	border-radius: 5px;
}

nav ul li a:hover {
	background-color: #333;
	color: #ffffff;

}

main {
	padding: 1rem;
}

section {
	margin-bottom: 2rem;
}

div {
	display: flex;
	align-items: center;
	margin: 30px;
}

.titulo {
	display: flex;
	justify-content: center;


}

.titulo :hover {
	transform: scale(1.30);
	box-shadow: 0 0 30px #ae00ff, 0 0 45px #ff00dd, 0 0 70px #ae00ff;
	transition-delay: 0.2s;

}

img {
	max-width: 50%;
	margin-right: 20px;
	padding: 10px;
	background-color: #ccc;
	box-shadow:0 0 30px #333,0 0 45px #335, 0 0 70px #339;
}


p {
	font-size:18px;
	text-align:justify;
	
}
strong{
	
	text-shadow:5px 3px 10px rgb(32, 23, 23);
}


h2 {
	margin-bottom: 1rem;
	text-decoration: underline;
}

form label {
	display: block;
	margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="email"],
form textarea {
	padding: 0.6rem;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 100%;
	margin-bottom: 1rem;
}

form button[type="submit"],
form button[type="button"] {
	background-color: #1e1c1c;
	color: #fff;
	padding: 0.5rem;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

form button[type="submit"]:hover,
form button[type="button"]:hover {
	background-color: #364886;
}

form {
	margin-bottom: 20px;
	width: 1000px;
}

#paso-2 {
	display: none;
}

#summary {
	border: solid black;
	padding: 10px;
	display: block;


}


footer {


	width: 100%;
	margin: 5px;
	padding: 20px;
	text-align: center;
	font-size: 14px;
	text-decoration: solid;
	color: #333;


}

svg {
	vertical-align: middle;
}


  




